<h1>New Password</h1>

<%= form_for @changeset, "/password/update", [class: "form"], fn f -> %>
	<div class="form__group">
		<%= label f, :password %>
		<%= password_input f, :password %>
	</div>
	<div class="form__group">
		<%= label f, :password_confirmation %>
		<%= password_input f, :password_confirmation %>
	</div>
	<div class="form__actions">
		<%= submit "Save"  %>
	</div>
<% end %>